
.hero-bubble-1 {
    height: 350px;
    width: 350px;
    position: absolute;
    bottom: 10%;
    right: 7.5%;
    background-color: #d5ecc2;
    border-radius: 50%;
    opacity: 0.4;
}

.hero-bubble-2 {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 20%;
    left: 5%;
    background-color: #fcd1d1;
    border-radius: 50%;
    opacity: 0.3;
}

.info-bubble {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.auth-form {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 8px;
    z-index: 10;
}

.auth-heading {
    font-size: 1.4rem;
    font-weight: 800;
}

.auth-label {
    font-size: 0.9rem;
    font-weight: 400;
}

.auth-input {
    margin: 10px 0 30px 0;
    border: 1.5px solid var(--border);
    padding: 0 10px;
    font-size: 1rem;
}

.auth-input::placeholder {
    color: var(--border);
}

.auth-button, .cta-button {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: var(--purple);
    color: var(--off-white);
}

.cta-button {
    width: 125px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
}

.cta-button:hover {
    border: 1px solid var(--active-border);
    box-shadow: 0 0 3px var(--active-border);
}

.auth-link {
    color: var(--purple);
    cursor: pointer;
}

.auth-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: var(--purple);
}

.footer-copyright {
    color: var(--white);
    font-size: 1.2rem;
}

.footer-content {
    color: var(--white);
    font-size: 1.4rem;
    text-decoration: underline;
}

.head-link {
    font-size: 2rem;
    text-decoration: none;
    color: var(--black);
}

.dashboard-selector {
    height: 36px;
    width: 125px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--off-black);
}

.active {
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-weight: bold;
}

.dashboard-card {
    height: 60px;
    color: var(--black);
    text-decoration: none;
    background-color: var(--off-white);
    border-radius: 10px;
}

.category-span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--purple);
}

.dashboard-select-container {
    background-color: var(--off-white);
    border: 1px solid var(--border);
    border-radius: 5px;
}

.dashboard-selected {
    height: 50px;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    background-color: var(--white);
    border-radius: 5px;
}

.dashboard-selected:hover {
    background-color: var(--off-white);
    border: 1px solid var(--border);
    box-shadow: none;
}

.dropdown {
    border-bottom: none;
}

.date-input {
    height: 50px;
    background-color: var(--white);
    border: 1px solid var(--border);
    padding: 0 15px;
    border-radius: 5px;
    font-size: 20px;
}

.dashboard-textarea {
    height: 100px;
    border: 1px solid var(--border);
    background-color: var(--white);
    border-radius: 5px;
    padding: 10px 10px;
    font-size: 20px
}

.status-button {
    height: 45px;
    background-color: var(--white);
    border: 2px solid var(--border);
    font-size: 16px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.active-status {
    background-color: var(--purple);
    color: var(--white);
}

.sub-task {
    border: 2px solid var(--border);
    border-radius: 5px;
}

.add-task {
    height: 50px;
    border: 1px solid var(--border);
    background-color: var(--white);
    border-radius: 5px;
}

.task-input {
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.task-button {
    background-color: var(--purple);
    color: var(--white);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.title-input {
    height: 50px;
    border: 1px solid var(--border);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}

.dashboard-button {
    height: 50px;
    border-radius: 5px;
    background-color: var(--purple);
    font-size: 20px;
    font-weight: bold;
    color: var(--white);
}

.save-button {
    height: 50px;
    width: 150px;
    background-color: var(--purple);
    border: 1px solid var(--border);
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
}

.comment-date {
    font-size: 12px; 
    margin-bottom: 5px;
    font-weight: 200;
    color: var(--off-black);
}

.comment {
    font-size: 20px;
}

.comment-textarea {
    height: 75px;
    padding: 10px;
    font-size: 16px;
    background-color: var(--white);
    border-radius: 5px;
    border-color: var(--border);
    margin-top: 20px;
}

.comment-button {
    height: 50px;
    background-color: var(--purple);
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

.dashboard-divider {
    height: 1px;
    background-color: var(--border);
}

@media only screen and (max-width: 1000px) {
    .view-task-container {
        flex-direction: column;
    }

    .view-task-left, .view-task-right {
        width: 100%;
    }

    .view-task-right {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 800px) {
    .hero-bubble-1 {
        bottom: 5%;
        right: 2.5%;
    }

    .task-input {
        width: 70%;
    }

    .task-button {
        width: 30%;
    }
}

@media only screen and (max-width: 500px) {
    .status-container {
        flex-direction: column;
    }

    .status-button {
        width: 100%;
    }
}