
* {
    box-sizing: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #f8f5f1;
    --purple: #a58faa;
    --blue: #a6d6d6;
    --green: #d5ecc2;
    --salmon: #fcd1d1;
    --grey: #687980;
    --white: #fff;
    --off-white: #f9f9f9;
    --border: #e2e2e2;
    --active-border: #907fa4;
    --black: #000;
}

body {
    background-color: var(--primary-bg);
}

input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active, button:hover {
    border: 1px solid var(--active-border);
    box-shadow: 0 0 3px var(--active-border);
    outline: none;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
}



